body{
      font-family:Kumar+One ;
      font-size: 20px ;
      color:white ;
      background: Black ;
      text-align: center;
    }
    
    p{
      font-family: Kumar+One ;
      color:white ;
      font-size:30px;

 


    }
    img {
      width: 500px
    }

    h1{
      font-family: Audiowide ;
      font-size:80px ;
      text-align:center ;
      color:white;
      text-stroke: 1px purple ;
      text-shadow: 0 1px 0 purple,
        2px 2px 0 red,
        3px 3px 0 orange,
        4px 4px 0 yellow,
        5px 5px 0 green,
        6px 6px 0 blue,
        7px 7px 0 indigo,
        8px 8px 0 violet,
        0 1px 10px rgba(0,0,0,.1),
        0 2px 10px rgba(0,0,0,.1),
        0 1px 10px rgba(0,0,0,.3),
        0 3px 10px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 10px rgba(0,0,0,.15) ;

    }
   
   

    h3{ 
      font-family:Audiowide ;
     -webkit-text-stroke:1px white;
      font-size:35px;
      color:transparent;
      text-shadow: 0 1px 0 purple,
        0 2px 0 red,
        0  3px 0 orange,
        0  4px 0 yellow,
        0  5px 0 green,
        0  6px 0 blue,
        0  7px 0 indigo,
        0  8px 0 violet,
        0 10px 10px rgba(0,0,0,.1),
        0 0 10px rgba(0,0,0,.1),
        0 1px 10px rgba(0,0,0,.3),
        0 3px 10px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 10px rgba(0,0,0,.15) ;

    }
