body{
      font-family:Kumar+One ;
      font-size: 20px ;
      color:white ;
      background: Black ;
      text-align: center;
    }
    
    p{
      font-family: Kumar+One ;
      color:white ;
      font-size:30px;

 


    }
    img {
      width: 500px
    }

    h1{
      font-family: Audiowide ;
      font-size:80px ;
      text-align:center ;
      color:white;
      text-stroke: 1px purple ;
  
    }
   
   

    h3{ 
      font-family:Audiowide ;
     -webkit-text-stroke:1px white;
      font-size:35px;
      color:transparent;
     
  

    }
